body,
html
{
	padding: 0;
	margin: 0;
	overscroll-behavior: none;
}

body
{
	background: #222;
}

body.editing
{
	background: #411;
}

#canvas1
{
	position: absolute;
}


#commands
{
	position: fixed;
	top: 50px;
	left: 0;
	width: 80px;
}

#commands a
{
	display: block;
	margin-bottom: 2px;
	padding: 2px;
	background: #333;
	text-align: center;
	color: #ccc;
	font-family: arial;
	font-size: 7pt;
	text-decoration: none;
}

#commands a:hover
{
	background: #037;
	color: #fff;
}


#editor_controls
{
	position: fixed;
	top: 0;
	right: 0;
	width: 120px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-family: arial;
	font-size: 7pt;
}

#editor_controls a
{
	display: block;
	margin-bottom: 2px;
	padding: 2px;
	background: #422;
	text-align: center;
	color: #ccc;
	font-family: arial;
	font-size: 7pt;
	text-decoration: none;
}

#editor_controls a:hover
{
	background: #732;
	color: #fff;
}

#editor_controls select
{
	width: 100%;
}
